#page-landing {
    width: 100vw;
    height: 100vh;
    background-color: var(--base-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    /* background: url(../../images/mascote-2.svg) no-repeat 80% center; */
}

#page-landing .content-wrapper .header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-landing .content-wrapper .content {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-landing .content-wrapper .footer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-landing .content-wrapper .content h1 {
    max-width: 74rem;

    font-size: 11.4rem;
    font-weight: 400;
    line-height: 10rem;
}

.content-wrapper .location {
    font-size: 2rem;
    line-height: 3rem;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.content-wrapper .location strong {
    font-weight: 800;
}

.content-wrapper .enter-app {
    width: 91px;
    height: 80px;
    background-color: var(--base-red);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.content-wrapper .footer p {
    max-width: 67rem;

    font-size: 3.6rem;
    font-weight: 400;
    line-height: 3.8rem;
}

.content-wrapper .footer .enter-app:hover {
    filter: brightness(1.2);
}