:root {
    --background: #EDF1F3;
    --base-green: #438B35;
    --base-blue: #457BC3;
    --base-red: #991C3B;    
    --neutral-white: #FFFFFF;
    --neutral-lightGray: #F2F3F1;
    --neutral-darkGray: #444545;
    --neutral-gray: #E4E9EB;
    --neutral-black: #202328;
    --neutral-darkGreen: #384529;
    --functional-danger: #C52330;
    --functional-warning: #F2D03A;
    --functional-success: #78B833;
    --shadow-primary: 0px 2px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    --shadow-secondary: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    --shadow-tertiary: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    --shadow-quaternary: 0px 12px 12px rgba(50, 50, 71, 0.08), 0px 16px 24px rgba(50, 50, 71, 0.08);
    --shadow-quinary: 0px 16px 16px rgba(50, 50, 71, 0.12), 0px 24px 32px rgba(50, 50, 71, 0.16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background: #EBF2F5;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;
}